/*
Hoja de estilos

*/

*{
    margin:0;
    box-sizing: border-box;
}
.body{
    font-family: sans-serif;
    padding: 90px 20px 0;
}
.head{
    background-color: #1450A6;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 50px;
    font-weight: lighter;
    padding:0 40px;
    line-height: 80px;


}
.nav-menu{
    display: flex;
    margin-right: 10px;
    list-style: none;
}
.nav-menu-item{
    font-size: 20px;
    margin:0 20px;
    line-height: 80px;
    width: max-content;    
}
.nav-menu-link:hover{
    background-color: #ED7E46;
    transition: 0.5s;
    
}
.nav-menu-link{
padding: 8px 12px;
border-radius: 4px;
}
.nav-f{
margin-left: 700px;
position: fixed;
padding: 0px 5px;

}

.menu{
    font-family: sans-serif;
    padding: 90px 700px;
    font-size: 20px;
    background-color: #0E3D80;
    color: white;
}
.menu a:hover{ 
    background-color: #3D7FDC;
    transition: 0.5s;

}
.menu a{
padding: 1px 10px;
border-radius: 4px;
color: white;

}


.foot{
    
    bottom: 0%;
    left: 0%;
    height: 4%;
    width: 100%;
    background-color: #ED7E46;
    text-align: center;
}
