/*
Hoja de estilos

*/

.encabezado{
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background: linear-gradient(180deg,#0AA6DA,#58B2D6);
    color: whitesmoke;
}
.encabezado h1{
    display: inline-block;
}
.menu{
    position: absolute;
    top: 8%;
    left: 0;
    height: 4%;
    width: 100%;
    background:white;
    color: black;
}
.menu a:hover{ /*con el hover decimos, cuando el mouse esta sobre las letras, se da una animacion*/
    background-color: lightskyblue;
    color: black;

}
.barralateral{
    position: absolute;
    top: 12%;
    left: 0;
    height: 81%;
    width: 20%;
    background-color: lightsteelblue;
    padding: 10px;
    overflow: auto;/*Navegacion automatica en toda la pagina*/
}
.contenido{
    position: absolute;
    top: 12%;
    left: 20%;
    height: 81%;
    width: 80%;
    background-color: lightskyblue;
    padding: 10px;
    overflow: auto;/*Navegacion automatica en toda la pagina*/
}
.piedepag{
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 4%;
    width: 100%;
    background-color: lightcyan;
    text-align: center;
    overflow: auto;/*Navegacion automatica en toda la pagina*/
}
