.cuerpo{
  height: 800px;
  background-image: url("https://c.wallhere.com/photos/56/40/nike_new_balance_girl_movement_sports_wear-686326.jpg!d ");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: auto;/*Navegacion automatica en toda la pagina*/
}

.cabeza{
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background: linear-gradient(180deg,#0AA6DA,#58B2D6);
    color: black;
    opacity: 0.8;
}
.cabeza h1{
    display: inline-block;
}
.navegacion{
    position: absolute;
    top: 8%;
    left: 0;
    height: 4%;
    width: 100%;
    background:white;
    color: black;
    opacity: 0.8;
}
.navegacion a:hover{ /*con el hover decimos, cuando el mouse esta sobre las letras, se da una animacion*/
    background-color: lightskyblue;
    color: black;

}
.barralat{
    position: absolute;
    top: 12%;
    right: 0;
    height: 100%;
    width: 17%;
    color: #3399ff;
    padding: 10px;
    overflow: auto;/*Navegacion automatica en toda la pagina*/
}

.seccion{
    position: absolute;
    top: 12%;
    left: 0%;
    height: 81%;
    width: 81%;
    background-color: transparent;
    color: white;
    padding: 10px;
    overflow: auto;/*Navegacion automatica en toda la pagina*/
}
/*.seccion video {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    object-fit: cover;
    opacity: 0.8;
}*/

.piedepagina{
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 4%;
    width: 100%;
    text-align: center;
    color: white;
    overflow: auto;/*Navegacion automatica en toda la pagina*/
}
.social li{
    list-style: none;
}
.social li a{
 display: inline-block;
 margin-left: -150px;
 list-style: none;
 transform: scale(0.2);
 transition: 0.5s;
 }
